<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	</head>
	<body>
		<div id="container">
			<h2>Are you sure you want to delete the following course?</h2>
			<label for="name">Name:</label>
			<p>{{ course[0]['title'] }}</p>
			<label for="description">Description:</label>
			<p>{{ course[0]['description']}}</p>
			<form action="/" method="GET">
				<input type="submit" value="No">
			</form>
			<form action="/delete/{{ course[0]['id'] }}" method="GET">
				<input type="submit" value="Yes! I want to delete this">
			</form>
		</div>
	</body>
</html>
